.base {
  display: inline-flex;
  align-items: center;
  min-width: 80px;
  max-width: 320px;
  color: var(--color-semantic-text-regular);
  border-radius: 2px;
  border: 1px solid var(--color-semantic-border-regular);
  background: var(--color-semantic-surface-regular-1);
  cursor: pointer;
}

.base:focus-within {
  border: 1px solid var(--color-semantic-border-focus);
  box-shadow: 0 0 0 3px #e2e5f5;
}

.input {
  flex-grow: 1;
  padding-inline: 8px;
  padding-block: 3.5px;
  border: none;
  background-color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  text-overflow: ellipsis;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-semantic-text-weak);
}

.input:focus {
  border: none;
  box-shadow: none;
}

/* disable focus-ring */
.input:focus-visible {
  outline: none;
}

.input:disabled {
  border: 1px solid var(--color-semantic-border-regular);
  background: var(--color-semantic-surface-regular-4);
}

.icon-wrapper {
  flex-shrink: 0;
  display: flex;
  padding: 5px;
}
