.base {
  position: relative;
  min-width: 80px;
  max-width: 320px;
}

.listbox {
  position: absolute;
  top: calc(var(--spacing-vertical-spacing-vertical-2, 8px) + 28px);
  min-width: 80px;
  max-height: 278px; /* optionの高さ(26.2px) * 10 + 上下の余白(16px) */
  overflow-y: scroll;
  display: flex;
  padding: var(--spacing-vertical-spacing-vertical-2, 8px) 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--border-radius-2, 5px);
  border: 1px solid var(--color-semantic-border-regular);
  background: var(--color-semantic-surface-regular-1);
  box-shadow: 0 3px 12px 0 var(--color-semantic-elevation-regular);
}
