:host {
  display: block;
  width: 100%;
}

.base {
  width: 100%;
  display: flex;
  padding: 3.5px 8px;
  align-items: flex-start;
  gap: 4px;
}

.base:hover {
  background: var(--color-semantic-surface-regular-3);
}

.base:focus-visible {
  background: var(--color-semantic-surface-regular-3);
  outline: none;
} 

.icon-area {
  width: 16px;
}

.text {
  font-size: 12px;
  line-height: 1.6;
}
