.button {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  border-radius: 2px;
  line-height: 1.6;
  padding-block: 0.5px;
  padding-inline: 8px;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid;
  justify-content: center;
  background-color: var(--color-semantic-surface-regular-2);
  border-color: var(--color-semantic-border-regular);
  color: var(--color-semantic-text-regular);
}

.button:hover {
  background-color: var(--color-semantic-surface-regular-4);
}

:host([selected]) .button {
  font-weight: bold;
  color: var(--color-semantic-text-inverse);
  background-color: var(--color-semantic-surface-selected);
  border-color: var(--color-semantic-border-selected);
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled]) .button {
  background-color: var(--color-semantic-surface-regular-2);
  border-color: var(--color-semantic-border-regular);
  color: var(--color-semantic-text-disabled);
  cursor: default;
}

:host([selected]) .button:hover {
  background-color: var(--color-semantic-surface-selected-hover);
  border-color: var(--color-semantic-border-selected-hover);
}
