.base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 1.6;
  padding-block: 0.5px;
  padding-inline: 8px;
  color: var(--color-semantic-text-regular);
  background-color: var(--color-semantic-surface-regular-2);
  border-radius: 2px;
  border: 1px solid var(--color-semantic-border-regular);
}

.base:hover {
  background-color: var(--color-semantic-surface-regular-4);
}

.remove {
  color: var(--color-primitive-neutral-100);
}
