:host:has(.text:empty) {
    display: none;
}

.base {
    display: flex;
    column-gap: 2px;
    .icon {
        flex-shrink: 0;
        line-height: 0;
    }
    .text {
        color: #C92812;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    &.medium {

        .icon {
            content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0RCMzUxRiIgZD0ibTE1Ljc0MyA1LjY2My0zLjQwNS0zLjQwNmExLjMgMS4zIDAgMCAwLS45My0uMzgySDYuNTkzYy0uMzUzIDAtLjY4My4xMzUtLjkzLjM4MkwyLjI1NiA1LjY2M2ExLjMyIDEuMzIgMCAwIDAtLjM4Mi45M3Y0LjgxNmMwIC4zNDUuMTQzLjY4Mi4zODIuOTNsMy40MDUgMy40MDVjLjI0OC4yNDcuNTc4LjM4Mi45My4zODJoNC44MTZjLjM1MiAwIC42ODItLjEzNS45My0uMzgzbDMuNDA1LTMuNDA1Yy4yNDctLjI0Ny4zODItLjU4NS4zODItLjkzVjYuNTk0YTEuMzUgMS4zNSAwIDAgMC0uMzgzLS45MyIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im05Ljc5NSA4Ljk5MyAyLjQxNS0yLjQxNWEuNTY2LjU2NiAwIDAgMCAwLS43OTUuNTY2LjU2NiAwIDAgMC0uNzk1IDBMOSA4LjE5OCA2LjU4NSA1Ljc4M2EuNTY2LjU2NiAwIDAgMC0uNzk1IDAgLjU2Ni41NjYgMCAwIDAgMCAuNzk1bDIuNDE1IDIuNDE1LTIuNDE1IDIuNDE1YS41NjYuNTY2IDAgMCAwIDAgLjc5NS41Ni41NiAwIDAgMCAuMzk4LjE2NS41Ni41NiAwIDAgMCAuMzk3LS4xNjVMOSA5Ljc4OGwyLjQxNSAyLjQxNWEuNTYuNTYgMCAwIDAgLjM5OC4xNjUuNTYuNTYgMCAwIDAgLjM5Ny0uMTY1LjU2Ni41NjYgMCAwIDAgMC0uNzk1eiIvPjwvc3ZnPg==") / "";
        }
        .text {
            font-size: 12px;
        }
    }

    &.large {
        .icon {
            content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0RCMzUxRiIgZD0ibTE4LjM2NiA2LjYwNi0zLjk3Mi0zLjk3MmExLjUyIDEuNTIgMCAwIDAtMS4wODUtLjQ0Nkg3LjY5Yy0uNDExIDAtLjc5Ni4xNTctMS4wODUuNDQ2TDIuNjM0IDYuNjA2YTEuNTQgMS41NCAwIDAgMC0uNDQ2IDEuMDg1djUuNjE4YzAgLjQwMi4xNjYuNzk2LjQ0NiAxLjA4NWwzLjk3MiAzLjk3MmMuMjg5LjI4OS42NzQuNDQ3IDEuMDg1LjQ0N2g1LjYxOGMuNDExIDAgLjc5Ni0uMTU4IDEuMDg1LS40NDdsMy45NzItMy45NzJjLjI4OS0uMjg5LjQ0Ny0uNjgzLjQ0Ny0xLjA4NVY3LjY5YzAtLjQwMi0uMTY3LS43OTYtLjQ0Ny0xLjA4NSIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im0xMS40MjggMTAuNDkxIDIuODE3LTIuODE3YS42Ni42NiAwIDAgMCAwLS45MjguNjYuNjYgMCAwIDAtLjkyNyAwTDEwLjUgOS41NjQgNy42ODMgNi43NDZhLjY2LjY2IDAgMCAwLS45MjggMCAuNjYuNjYgMCAwIDAgMCAuOTI4bDIuODE4IDIuODE3LTIuODE4IDIuODE4YS42Ni42NiAwIDAgMCAwIC45MjcuNjUuNjUgMCAwIDAgLjQ2NC4xOTMuNjUuNjUgMCAwIDAgLjQ2My0uMTkzTDEwLjUgMTEuNDJsMi44MTggMi44MTdhLjY1LjY1IDAgMCAwIC40NjMuMTkzLjY1LjY1IDAgMCAwIC40NjQtLjE5My42Ni42NiAwIDAgMCAwLS45Mjd6Ii8+PC9zdmc+") / "";
        }
        .text {
            font-size: 14px;

        }
    }
}

.icon {

}