.base {
  display: inline-block;
  width: 480px;
  height: 28px;
  margin-inline-start: 8px;
  padding: 4.5px 0;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6;
}
