.container {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  background-color: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 2px;
  padding-inline: 8px;
  padding-block: 4px 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
}

.select .icon {
  flex-shrink: 0;
}

.select:active {
  border-color: var(--color-semantic-border-hover);
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-default);
}

.select:focus-visible {
  outline: none;
  border-color: var(--color-semantic-border-focus);
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-default);
}

.select:disabled {
  color: var(--color-semantic-text-disabled);
  background: var(--color-semantic-surface-regular-4);
}

.select[aria-invalid="true"] {
  border-color: var(--color-semantic-border-error);
}

.select[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-error);
}

.select.open {
  border-color: var(--color-semantic-border-focus);
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-default);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 8px;
  padding: 8px 0;
  background: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 5px;
  box-shadow: 0 3px 12px 0 var(--color-semantic-elevation-regular);
  max-height: 200px;
  overflow-y: auto;
}

.menu-item {
  display: block;
  width: 100%;
  min-height: 26px;
  padding: 3.5px 8px;
  color: var(--color-semantic-text-regular);
  font-size: 12px;
  line-height: 1.6;
  cursor: pointer;
  text-align: left;
}

.menu-item:hover,
.menu-item:focus {
  background: var(--color-semantic-surface-regular-3);
}

.menu-item.selected {
  background: var(--color-semantic-surface-regular-3);
  font-weight: 600;
}

.menu-item.disabled {
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
}

.menu-item.disabled:hover {
  background: none;
}
