:host {
    display: block;
    height: 28px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
}

.links {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

h3 {
    padding-block: 3px;
    padding-inline-start: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border-left: 2px solid var(--color-semantic-surface-regular-6);
}
