:host {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.main {
  display: flex;
  align-items: center;
  gap: 16px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text-links {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 16px;
}

.buttons {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}

h3 {
  margin-block: 3px;
  padding-inline-start: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  position: relative;
}

h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% - 2.4px);
  background-color: var(--color-semantic-surface-regular-6);
}
