:host {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
}

.help-link {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.text-links {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

h3 {
    padding-block: 3px;
    padding-inline-start: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    position: relative;
}

h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--color-semantic-surface-regular-6);
}
