.base {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.base:has(.input:disabled) {
  cursor: not-allowed;
}

.text {
  padding-block-start: 2.5px;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  line-height: 1.6;
}

.base:has(.input:disabled) .text {
  color: var(--color-semantic-text-disabled);
}

.base:hover .checkmark::before {
  background-color: var(--color-semantic-surface-regular-3);
}

.base:hover .checkmark:has(:is(.input:checked, .input:indeterminate))::before{
  background-color: var(--color-semantic-surface-selected-hover);
  border-color: var(--color-semantic-border-selected-hover);
}