:host {
  display: block;
}

.base {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-block: 1px;
  cursor: pointer;
}

.base:has(input:disabled) {
  cursor: not-allowed;
}

.base:has(.input:focus-visible) {
  outline: 2px solid var(--color-semantic-text-body-regular);
  outline-offset: 2px;
}

.base:has(input):not(:has(input:disabled)):hover {
  background: var(--color-semantic-surface-regular-3);
}

.base:has(input:checked):not(:has(input:disabled)) {
  background: var(--color-semantic-surface-checked);
}

.base:has(input:checked):not(:has(input:disabled)):hover {
  background: var(--color-semantic-surface-checked-hover);
}

.text {
  padding-block-start: 2.5px;
  color: var(--color-semantic-text-body-regular);
  font-size: 12px;
  line-height: 1.6;
}

.base:has(input:disabled) .text {
  color: var(--color-semantic-text-disabled);
}
