:host {
  display: inline-block;
}

.base:has(.input:focus-visible) {
  outline: 2px solid var(--color-semantic-text-regular);
  outline-offset: 2px;
}

.base:hover .checkmark:has(:not(.input:disabled))::before {
  background-color: var(--color-semantic-surface-regular-3);
}

.base:hover
  .checkmark:has(:is(.input:checked, .input:indeterminate)):has(
    :not(.input:disabled)
  )::before {
  background-color: var(--color-semantic-surface-selected-hover);
  border-color: var(--color-semantic-border-selected-hover);
}
