.label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;
  color: var(--color-semantic-text-regular);
  padding-block: 5px 4px;
}

.required {
  color: var(--color-semantic-text-required);
  margin-inline-start: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
