.label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;
  color: var(--color-semantic-text-regular);
  padding-block: 5px 4px;
}

.required {
  color: var(--color-semantic-text-required);
  margin-left: 4px;
}
