.text-field {
  display: block;
  width: 100%;
  background-color: var(--color-semantic-surface-regular-1);
  border: 1px solid var(--color-semantic-border-regular);
  border-radius: 2px;
  padding-inline: 8px;
  padding-block-start: 5px;
  padding-block-end: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6;
}

.text-field::placeholder {
  color: var(--color-semantic-text-placeholder);
}

.text-field:focus-visible {
  outline: none;
  border-color: var(--color-semantic-border-focus);
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-default);
}

.text-field:disabled {
  color: var(--color-semantic-text-disabled);
  background: var(--color-semantic-surface-regular-4);
}

.text-field[aria-invalid="true"] {
  border-color: var(--color-semantic-border-error);
}

.text-field[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 3px var(--color-semantic-highlight-focus-ring-error);
}
