:host {
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  --icon-color: var(--color-semantic-text-button-outline-default);
}

:host(.spds__tab) {
  outline: none;
  font: inherit;
  background: none;
  display: inline-flex;
  min-width: 80px;
  padding-block: 2px;
  padding-inline: 16px;
  justify-content: center;
  align-items: center;
  color: var(--color-semantic-text-regular);
  font-size: 14px;
  border-radius: 1rem;
  min-height: 28px;
  column-gap: 4px;
  line-height: 160%;
}

:host(.spds__tab:hover) {
  cursor: pointer;
}

:host(.spds__tab.-gray) {
  border: 1px solid var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
}

:host(.spds__tab.-gray:hover) {
  background-color: var(--color-semantic-surface-regular-4);
}

:host(.spds__tab.-gray.-selected) {
  border-color: var(--color-semantic-border-selected);
  background-color: var(--color-semantic-surface-selected);
  color: var(--color-semantic-text-inverse);
  font-weight: bold;
  --icon-color: var(--color-semantic-text-button-selected);
}

:host(.spds__tab.-gray.-selected:hover) {
  border-color: var(--color-semantic-surface-selected-hover);
  background-color: var(--color-semantic-surface-selected-hover);
}

:host(.spds__tab.-gray.-selected[disabled]) {
  border-color: var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
  font-weight: normal;
  --icon-color: var(--color-semantic-text-button-disabled);
}

:host(.spds__tab.-gray[disabled]) {
  border-color: var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
  --icon-color: var(--color-semantic-text-button-disabled);
}

:host(.spds__tab.-white) {
  border: 1px solid var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-1);
}

:host(.spds__tab.-white:hover) {
  background-color: var(--color-semantic-surface-regular-3);
}

:host(.spds__tab.-white.-selected) {
  border-color: var(--color-semantic-border-selected);
  background-color: var(--color-semantic-surface-selected);
  color: var(--color-semantic-text-inverse);
  font-weight: bold;
  --icon-color: var(--color-semantic-text-button-selected);
}

:host(.spds__tab.-white.-selected:hover) {
  border-color: var(--color-semantic-surface-selected-hover);
  background-color: var(--color-semantic-surface-selected-hover);
}

:host(.spds__tab.-white.-selected[disabled]) {
  border-color: var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
  font-weight: normal;
  --icon-color: var(--color-semantic-text-button-disabled);
}

:host(.spds__tab.-white[disabled]) {
  border-color: var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
}

:host(.spds__tab[disabled]) {
  border-color: var(--color-semantic-border-regular);
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
}

:host(.spds__tab:focus-visible) {
  outline: canvastext solid 3px;
  box-shadow: canvas 0 0 0 5px;
  outline-offset: 1px;
  background-color: var(--color-semantic-surface-regular-4);
}

:host(.spds__tab) .spds__tabIcon {
  display: none;
}

:host(.spds__tab) .spds__tabIcon.-show {
  display: block;
}
