:host {
  display: inline-block;
  max-width: 100%;
}

.tabList{
  display: flex;
  gap: 8px
}

.spds__tab {
  outline: none;
  font: inherit;
  background: none;
  display: inline-flex;
  min-width: 80px;
  padding-block: 2px;
  padding-inline: 16px;
  justify-content: center;
  align-items: center;
  color: var(--color-semantic-text-regular);
  font-size:14px;
  border-radius: 1rem;
  min-height: 28px;
  column-gap: 4px;
  line-height: 160%;

    &:hover{
      cursor:pointer;
    }

    &.-gray{
      border: 1px solid var(--color-semantic-border-regular);
      background-color: var(--color-semantic-surface-regular-2);

      &:hover{
        background-color: var(--color-semantic-surface-regular-4);
      }

      &.-selected {
        border-color: var(--color-semantic-border-selected);
        background-color: var(--color-semantic-surface-selected);
        color: var(--color-semantic-text-inverse);
        font-weight: bold;

        &:hover {
          border-color: var(--color-semantic-surface-selected-hover);
          background-color: var(--color-semantic-surface-selected-hover);
        }

        &:disabled{
          border-color: var(--color-semantic-border-regular);
          background-color: var(--color-semantic-surface-regular-2);
          color: var(--color-semantic-text-disabled);
          cursor: not-allowed;
        }
      }

      &:disabled{
        border-color: var(--color-semantic-border-regular);
        background-color: var(--color-semantic-surface-regular-2);
        color: var(--color-semantic-text-disabled);
        cursor: not-allowed;
      }
    }

  &.-white{
    border: 1px solid var(--color-semantic-border-regular);
    background-color: var(--color-semantic-surface-regular-1);

    &:hover{
      background-color: var(--color-semantic-surface-regular-3);
    }

    &.-selected {
      border-color: var(--color-semantic-border-selected);
      background-color: var(--color-semantic-surface-selected);
      color: var(--color-semantic-text-inverse);
      font-weight: bold;

    &:hover {
      border-color: var(--color-semantic-surface-selected-hover);
      background-color: var(--color-semantic-surface-selected-hover);
    }

    &:disabled{
      border-color: var(--color-semantic-border-regular);
      background-color: var(--color-semantic-surface-regular-2);
      color: var(--color-semantic-text-disabled);
      cursor: not-allowed;
    }
  }

    &:disabled{
      border-color: var(--color-semantic-border-regular);
      background-color: var(--color-semantic-surface-regular-2);
      color: var(--color-semantic-text-disabled);
      cursor: not-allowed;
    }
  }

  &:focus-visible{
    outline: canvastext solid 3px;
    box-shadow: canvas 0 0 0 5px;
    outline-offset: 1px;
    background-color: var(--color-semantic-surface-regular-4);
  }
}













