:host {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
  vertical-align: middle;
}

.base {
  display: inline-flex;
  max-width: 100%;
}

.item {
  flex: 1 0 80px;
  position: relative;
  display: flex;
  align-items: stretch;
  min-width: 80px;
}

.radio {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 8px;
  background-color: var(--color-semantic-surface-regular-2);
  border: 1px solid var(--color-semantic-border-regular);
  border-right: none;
  color: var(--color-semantic-text-body-semi-weak);
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
}

.text:hover {
  background-color: var(--color-semantic-surface-regular-4);
}

.item:first-child .text {
  border-radius: 5px 0 0 5px;
}

.item:last-child .text {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid var(--color-semantic-border-regular);
}

.item:has(.input:focus-visible) .text {
  outline: auto;
  outline-offset: -4px;
  background-color: var(--color-semantic-surface-regular-4);
}

.item:has(.input:checked) .text {
  background-color: var(--color-semantic-surface-selected);
  border-color: var(--color-semantic-border-selected);
  color: var(--color-semantic-text-inverse);
  font-weight: bold;
  cursor: default;
}

.item:has(.input:disabled) .text {
  background-color: var(--color-semantic-surface-regular-2);
  color: var(--color-semantic-text-disabled);
  cursor: not-allowed;
}
